/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    color: hsla(0 , 0%, 100%, 1);
    font-family: 'PT Sans', 'Open Sans';
}

input {
    color: black;
    font-weight: 600;
}

h1, h2, h3, ul, p {
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 2em;
    font-style: italic;
}

h2 {
    font-family: 'Arvo', sans-serif;
    font-size: 1.5em;
}

h3 {
    font-size: 1.4em;
    font-style: italic;
    text-align: center;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: .9em;
}

.actor-card p:last-child {
    font-style: italic;
}

.show-header span,
.artist-header span {
    font-style: italic;
    font-size: .9em;
}

.fa-frown {
    font-size: 2em;
}

/* Vérifier la position */
.show-header p {
    font-style: italic;
}

.content-info-container p {
    font-size: .9em;
}

.paging-container button i {
    font-size: 1.5em;
}

.content-info-container li {
    font-size: .9em;
}

footer p {
    font-size: .8em;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

/* Header */

header {
    width: 100%;
    height: 50px;
    background-color: hsla(232, 53%, 25%, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    margin: 0;
}

#wrapper::after {
    position: fixed;
    top: 50px;
    left: 0;
    content: "";
    width: 100%;
    height: 20px;
    background: linear-gradient(
        hsla(232, 53%, 25%, 0.6) 0%,
        hsla(232, 53%, 25%, 0.6) 40%,
        transparent 100%
    );
}

header div {
    margin: 10px 15px;
}

header img {
    margin: 0 15px;
    width: 40px;
    height: 40px;
}

header input {
    width: 70%;
}

.fa-search {
    color: hsla(0 , 0%, 100%, 1);
}

.content-block {
    margin-top: 50px;
    transition: all .1s ease;
}

/* Image layer */

.content_intro {
    width: 100%;
    height: 210px;
    position: relative;
}

.show_layer {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all 1s ease-out;
}

.show_layer::after {
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(
        transparent 0%,
        hsla(232, 53%, 25%, .6) 60%,
        hsla(232, 53%, 22%, .8) 100%
    );
}

/* Global page content */

.content-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(215deg, hsla(232, 53%, 25%, 1) 0%, hsla(232, 53%, 14%, 1) 60%, hsla(232, 53%, 25%, 1) 100%);
}

.main-content {
    width: 80%;
    margin: 10px 10%;
}

    /*-----------------------------*/
    /* Landing page : presentation */
    /*-----------------------------*/

    .features-header {
        margin-bottom: 50px;
    }

    section,
    .registration-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px auto;
    }

    .rounded {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
        border-radius: 50%;
        background-size: cover;
    }

    .splitter {
        width: 100%;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .splitter-underline {
        display: block;
        width: 35%;
        height: 1px;
        background-image: linear-gradient(
            to right,
            #f0f0f0,
            #8f8f8f,
            #f0f0f0
        );
    }

    .transformed-logo {
        width: 30px;
        height: 30px;
        transform: rotate(-35deg);
        margin: 0 10px;
    }

    .registration-box {
        margin: 60px auto 0;
    }

    .registration-box p {
        text-align: center;
    }

    .registration-box a {
        text-decoration: none;
        cursor: pointer;
        margin: 10px auto 50px;
    }

    /*--------------*/
    /* show details */
    /*--------------*/

    .show-user-actions {
        width: 290px;
        display: flex;
        flex-direction: column;
    }

    .show-user-actions > div {
        margin-top: 15px;
    }

    .show-buttons-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .show-buttons-container button,
    .registration-button {
        width: 130px;
        height: 40px;
        border-radius: 20px;
    }

    .show-button,
    .registration-button {
        padding-left: 10px;
        padding-right: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: none;
        color: white;
        background: linear-gradient(
            to right,
            hsla(43, 98%, 48%, 1),
            hsla(283, 87%, 31%, 1)
        );
        box-shadow: 1px 2px 2px grey;
        margin-bottom: 20px;
    }

    .netflix-button {
        color: red;
        background-color: black;
        box-shadow: 1px 2px 2px darkslategrey;
    }

    .show-button-text {
        max-width: 70px;
        height: 100%;
        margin: auto 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8em;
    }

    .show-button-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: hsla(0, 0%, 0%, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .available-trailer {
        display: flex;
    }

    .unavailable-trailer {
        display: none;
    }

    .trailer-player {
        display: none;
        width: 100%;
    }

    iframe {
        width: 100%;
        height: 200px;
        border: none;
    }

    h4 {
        margin: 15px 0 0;
    }

    .show-info > div:not(:last-child) {
        width: 100%;
        align-items: flex-start;
    }

    .show-casting {
        margin-bottom: 30px;
        width: 100%;
    }

    .casting-list {
        margin: 20px 0 0;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .actor-card {
        list-style: none;
        margin: 0 8px 0 0;
    }

    .actor-card > div:first-child {
        width: 115px;
        position: relative;
    }

    .actor-card > div:first-child,
    .actor-card > div:first-child img,
    .actor-card > div:first-child a {
        border-radius: 8px;
    }

    .show-casting li img {
        width: 115px;
    }

    .actor-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        display: flex;
        text-decoration: none;
        justify-content: flex-end;
    }

    .fa-link {
        margin: 5px;
        height: 18px;
        background-color: black;
        padding: 6px;
        border-radius: 50%;
    }

    .actor-card div:last-child {
        white-space: normal;
    }

    .actor-card p,
    .actor-card a {
        overflow-wrap: break-word;
    }

    .actor-card p:last-child {
        margin-top: 5px;
    }

    /*-------------*/
    /* search page */
    /*-------------*/

    .search-menu {
        width: 100%;
        height: 40px;
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
    }

    .search-menu li,
    .prev-button,
    .next-button {
        padding: 0 5px;
        cursor: pointer;
        transition: all .1s ease-out;
    }

    .search-menu li {
        width: 27%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
    }

    .active-search {
        background: hsla(283, 87%, 31%, 1);
        border: 1px solid black;
        box-shadow: 0px 0px 14px white;
    }

    .inactive-search,
    .prev-button,
    .next-button {
        background: linear-gradient(
            to right,
            hsla(43, 98%, 48%, 1),
            hsla(283, 87%, 31%, 1)
        );
        box-shadow: 1px 2px 2px black;
    }

    .search-results-list {
        width: 100%;
        list-style: none;
        margin: 30px 0;
    }

    .result-card,
    .result-card a {
        width: 100%;
        height: 100px;
        border-radius: 10px;
    }

    .result-card {
        margin-top: 15px;
        display: block;
        border: 1px solid white;
    }

    .result-card a {
        display: flex;
        flex-direction: row;
        text-decoration: none;
    }

    .poster-container,
    .poster-container img {
        border-radius: 10px 0 0 10px;
        width: 65px;
        height: 100%;
    }

    .poster-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-right: 1px solid white;
        display: flex;
    }

    .fa-frown {
        text-align: center;
    }

    .content-info-container {
        width: 214px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        overflow: hidden;
        padding: 5px 10px;
    }

    .show-header,
    .artist-header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    h5 {
        margin: 0 3px 0 0;
    }

    .paging-container {
        width: 100%;
        height: 40px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .paging-container p {
        text-align: center;
    }

    .paging-container button {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        position: absolute;
        align-self: center;
    }

    .prev-button {
        left: 50px;
    }

    .next-button {
        right: 50px;
    }

/* Footer */

footer {
    width: 100%;
    background-color: hsla(0, 100%, 0%, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    position: relative;
}

footer::before{
    content: "";
    width: 100%;
    height: 30px;
    background: linear-gradient(
        transparent 0%,
        hsla(0, 100%, 0%, .6) 60%,
        hsla(0, 100%, 0%, 1) 100%
    );
    position: absolute;
    top: -30px;
    left: 0;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100px;
    margin: 10px auto;
}

footer li {
    margin: 0 12px;
}

footer i {
    color: hsla(333, 58%, 30%, 1);
}

footer p {
    margin-bottom: 10px;
}